* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px !important;
  font-weight: 550 !important;
}

body {
  background-color: #34495e !important;
  color: white !important;
}

.btnn {
  color: white !important;
  background-color: rgba(40, 24, 80, 0.783) !important;
}

.loading-container {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  height: 65vh !important;
  text-align: center !important;
}

.loading-video {
  width: 100% !important;
  max-width: 400px !important;
  height: auto !important;
}

.card-img-top {
  height: 380px !important;
}
